</div>

<script>

  const atoken = localStorage.getItem("token");
  function getUser() {
    try {
      if (!atoken) return null;
      return JSON.parse(atob(atoken.split(".")[1]));
    } catch {
      return null;
    }
  }
  const login= getUser();
  const nav = document.getElementById("nav-links");

  if (!atoken) {
    nav.innerHTML = `
      <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    `;
  } 
  else if(login.role=="admin"){
    nav.innerHTML = `
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/admin">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="/create-post">Create Post</a></li>
      <li class="nav-item"><a class="nav-link" href="#" id="logoutBtn">Logout</a></li>
    `;  
  }
  else {
    nav.innerHTML = `
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/create-post">Create Post</a></li>
      <li class="nav-item"><a class="nav-link" href="#" id="logoutBtn">Logout</a></li>
    `;
  }

  document.addEventListener("click", (e) => {
    if (e.target.id === "logoutBtn") {
      localStorage.removeItem("token");
      alert("You have successfully logged out!");
      window.location.href = "/login";
    }
  });

</script>

</body>

</html>