<%- include("header", { title: "Home" }) %>

<div class="text-center mt-5">
    <h1>Welcome to the Prizmatic Blog</h1>
    <p class="lead">Here you can make your thoughts and views <strong> public</strong>. Create account to start bloggin'.</p>  
    <p class="lead">If you already a user then what's stopping you!</p>
</div>

<%- include("footer") %>
